# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual Environment
venv/
env/
.venv/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# FastAPI-specific
instance/
*.db
*.sqlite3

# Docker
docker-compose.override.yml
*.dockerignore

# Testing
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/

# Build
build/
dist/
*.egg-info/

